/*Viskam*/
* {
	padding: 0;
}
/*Header*/
body{
	max-width: 100%;
}
/*.header {
	max-width: 100%;
	background: url(hero-01.png)
	background-image: url(url(Sep-bot.png);
	background-size: contain;
	background-repeat: no-repeat;
}*/
.header{
	max-width: 100%;
	background-image: url(Sep-bot.png),
	 		url(hero-01.png);
	background-repeat: no-repeat;
	background-position: bottom;
}
.header .container-fluid {
	text-align: center;
}
/*Eilutes*/
.header li {
	margin-top: 20px;
}
@media screen and (max-width: 767px) {
	.header li {
		margin: 0;
	}
}
.header ul {
	display: flex;
	text-decoration: none;
	list-style: none;
	float: right;
}
@media screen and (max-width: 767px) {
	.header ul {
		flex-direction: column;
		float: none;
	}
}
.header li a {
	color: white;
}
@media screen and (max-width: 767px) {
	.header li a {
		display: block;
	}
}
.header .logopng {
	float: left;
	margin-top: 25px
}
@media screen and (max-width: 767px) {
	.header .logopng {
		float: none;
		text-align: center;
		margin-bottom: 15px;
	}
}
.header .pgrlogo img {
	padding-top: 260px;
}
@media screen and (max-width: 767px) {
	.header .pgrlogo img {
		padding-top: 15px;
	}
}
.header .logotext p {
	color: white;
	padding-top: 45px;
}
@media screen and (max-width: 767px) {
	.header .logotext p {
		padding-top: 30px;
	}
}
/*Mygtukas*/
.header .button {
	padding-top: 20px;
}
.header .button a {
	background-color: rgba(255 255 255 0.5);
	padding: 10px 35px 10px 35px;
	border: 2px solid white;
	color: white;
	border-radius: 3px;
}
@media screen and (max-width: 360px) {
	.header .button a {
		padding: 10px 15px 10px 15px;
	}
}
.header .pgrlogo {
	margin: 0;
}
.header .scrolldown p {
	color: #fff;
}
.header .scrolldown {
	color: white;
	padding-top: 210px;
	padding-bottom: 52px;
}
@media screen and (max-width: 767px) {
	.header .scrolldown {
		padding-top: 35px;
		padding-bottom: 10px;
	}
}
/*Services*/
.services{
	background-color: #fafcfe;
}
.services h3 {
	color: #616161;
}
.services p {
	color: #616161;
}
.services .row {
	text-align: center;
}
.servicesheader {
	text-align: center;
	color: #2980b9;
	padding-bottom: 75px;
	padding-top: 40px;
}
@media screen and (max-width: 528px) {
	.servicesheader {
		padding-top: 35px;
		padding-bottom: 40px;
	}
}
/*Portfolio*/
.portfolio {
	max-width: 100%;
	background-image: url(Sep-top.png),
			url(Sep-bot.png),
	 		url(portfolio.png);
	background-repeat: no-repeat,
			no-repeat,
			repeat;
	background-position: top,
			bottom;
}
.portfolio h3, p {
	color: #616161;
}
.portfolio img {
	max-width: none;
}
@media screen and (max-width: 1024px) {
	.portfolio img {
		max-width: 100%;
	}
}
/*http://www.corelangs.com/css/box/ontop.html*/
.portfolio .row {
	max-width: 100%;
	text-align: center;
	margin: 0px;
	padding-bottom: 193px;
}
.portfolioheader {
	text-align: center;
	color: #fff;
	padding-bottom: 75px;
	padding-top: 265px;
}
/*Team*/
.team {
	background-color: #fafcfe;
}
.teamheader {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 75px;
}
.team h2 {
	text-align: center;
	color: #2980b9;
}
.team h4 {
	text-align: center;
	color: #2980b9;
}
.teamheader p {
	text-align: center;
	padding-top: 25px;
	color: #616161;
}
.team p {
	text-align: center;
	color: #616161;
}
.team-div {
	max-width: 100%;
	text-align: center;
	margin-right: 90px;
}
@media screen and (max-width: 1340px) {
	.team-div {
		text-align: center;
		margin-left: 140px;
		margin-right: 140px;
		max-width: 100%;
	}
}
@media screen and (max-width: 1024px) {
	.team-div {
		text-align: center;
		margin-left: 110px;
		margin-right: 110px;
		max-width: 100%;
	}
}
@media screen and (max-width: 768px) {
	.team-div {
		text-align: center;
		margin-left: 75px;
		margin-right: 75px;
		max-width: 100%;
	}
}
@media (min-width: 320px) and (max-width: 767px) {
	.team-div {
		text-align: center;
		margin-left: 0px;
		margin-right: 0px;
		max-width: 100%;
	}
}
.team-div h4 {
	text-align: center;
}
.team-div p {
	text-align: center;
}
/*Offices*/
.offices{
	max-width: 100%;
	background-image: url(Sep-top.png),
			url(Sep-bot.png),
	 		url(offices.png);
	background-repeat: no-repeat,
			no-repeat,
			no-repeat;
	background-position: top,
			bottom;
}
.offices h2, p{
	color: #fff;
}
.offices .image1 h3 {
	margin-top: 40px;
	margin-bottom: 40px;
	color: #fff;
}
.officesheader {
	text-align: center;
	color: #fff;
	padding-bottom: 475px;
	padding-top: 265px;
}
/*Clients*/
.clients {
	background-color: #fafcfe;
}
.clientsheader {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 55px;
}
.clients h2 {
	text-align: center;
	color: #2980b9;
}
.clients h4 {
	text-align: center;
	color: #2980b9;
}
.clientsheader p {
	text-align: center;
	padding-top: 25px;
	color: #616161;
}
.clients p {
	text-align: center;
	color: #616161;
}
.clients-div .row {
	display: inline-block;
}
.clients .clients-div {
	text-align: center;
	margin-right: 95px;
}
@media screen and (max-width: 1340px) {
	.clients .team-div {
		text-align: center;
		margin-left: 0px;
    margin-right: 95px;
		margin-bottom: 15px;
	}
}
@media screen and (max-width: 1024px) {
	.clients .clients-div {
		text-align: center;
		margin-left: 0px;
    margin-right: 95px;
		margin-bottom: 15px;
	}
}
@media screen and (max-width: 768px) {
	.clients .clients-div {
		text-align: center;
		margin-left: 0px;
    margin-right: 95px;
		margin-bottom: 15px;
	}
}
@media (min-width: 320px) and (max-width: 767px) {
	.clients .clients-div {
		text-align: center;
		margin-left: 0px;
    margin-right: 0px;
		margin-bottom: 15px;
	}
}
.clients .line {
	margin-bottom: 60px;
}
.arrow {
	max-width: 100%;
}
@media screen and (max-width: 1200px) {
	.arrow {
		display: none;
	}
}
.clients .right {
	padding-top: 35px;
}
.clients .left {
	text-align: right;
	padding-top: 35px;
}
.cliets .line {
	padding-top: 20px;
}
.clientstext {
	text-align: center;
	padding-top: 20px;
}
/*Contactus*/
.contactus {
	max-width: 100%;
	background-image: url(Sep-top.png),
	 		url(contact.png);
	background-repeat: no-repeat,
			repeat;
	background-position: top;
}
.contactus h2, p {
	color: #fff;
}
.contactus .image1 h3 {
	margin-top: 40px;
	margin-bottom: 40px;
	color: #fff;
}
.contactusheader {
	text-align: center;
	color: #fff;
	padding-bottom: 75px;
	padding-top: 265px;
}
.contactusheader img {
	padding-bottom: 25px;
}
.contactus h5 {
	color: #fff;
}
.contactus .row {
	text-align: center;
}
.contactus img {
	padding-bottom: 15px;
}
.contactus .twitter img {
	padding-bottom: 25px;
}
.contactus .footer {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 20px;
}
